* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.all{
        
}


.main-one {
  background-color: #f0ccbb;
  display: flex;
  justify-content: space-between;
  padding: 5% 5%;
}
.main-one-content {
  width: 100%;
}

.main-one h1 {
  /*width:46.8125rem;*/
  font-family: Montaga;
  font-size: 5rem;
  font-weight: 400;
}

.main-one p {
  /* width: 40.375rem;*/
  font-family: Montaga;
  font-size: 1.5rem;
  font-weight: 400;
}

.main-one-content #read {
  width: 12rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 200;
 background-color: #c6754d;
  border-radius: 16px;
  text-decoration: none;
  
}
.main-one-content a{
  padding: 1rem 0.5rem 3rem 0.9rem;
  text-align: center;
 
}

.main-one-img img {
  width: 100%;
        position: absoulte;
        
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c6754d;
}

.butt {
  display: flex;
  width: 19.6875rem;
  height: 2.9375rem;
}
#Home, #our{
  padding-top: 6%;
  text-decoration: none;
  text-transform: capitalize;
}
#Home, #our:hover{
  color: #c6754d;
}

.btn-1 {
  width: 140px;
  padding: 8px 40px 8px 40px;
}

.btn-2 {
  width: 175px;
  height: 47px;
  padding: 8px 40px 8px 40px;
}

.btn-2 p {
  width: 95px;
  font-family: Montaga;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.btn-1 p {
  width: 60px;
  font-family: Montaga;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.main-two {
  height: 16rem;
  display: flex;
  justify-content: space-between;
padding-top: 3rem;
padding-right: 4rem;

        
}

.main-two h1 {
  display: flex;
  width: 19.375rem;
  font-family: Montaga;
  font-size: 3.5rem;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
  padding-top: 10%;
}
.main-sto {
  /*width: 46rem;*/
  font-family: Montaga;
  font-size: 1.5rem;
  font-weight: 400;
  color: #231f20;
  flex-wrap: wrap;
}
.box-3 img {
  width: 100%;
}

footer p {
  font-family: Montaga;
  font-size: 1.375rem;
  font-weight: 400;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .navbar{
    width:30rem;
  }
  .navbar .brand-log {
    width: 5rem;
     font-size: 2rem;
  }
  .navbar .butt a{
      display: flex;
    flex-direction: row;
    font-size: 1rem;



  }
  .main-two{
    width: 30rem;
    display: flex;
    flex-direction: column;
 text-align: center;
 margin-bottom: 1rem;
 padding-top: 1rem;
 padding-bottom: 2rem;
  }
  .main-two  h1 {
  
    font-family: Montaga;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
    margin-left: 11rem;
    padding-top: 1rem;
   padding-top: 1rem;
    text-align: center;
   }
   .main-two  .main-sto p{
    width: 480px;
    font-family: Montaga;
    font-size: 1rem;
    font-weight: 400;
    
  
 
  }
  }

  /*@media 320*/
   @media screen and (max-width:320px) {
    .navbar .butt a{
      display: flex;
    flex-direction: row;
    font-size: 1rem;

}

 
  
.all {
    width: 480px;
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    font-size: 2rem;
  }
  .main-one {
    display: flex;
  flex-direction: row;
    width: 30rem;
    justify-content: center;
  }

  .main-one-content h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  .main-one-content p{
    font-size: 1rem;
    text-align: center;
  }
  .main-one-content #read {
  margin-left: 2.5rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    padding-top: 3% 3%;
    background-color: #c6754d;
    border-radius:1rem;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
  .main-two{
    width: 40rem;
    display: flex;
    flex-direction: column;
 text-align: center;
 margin-bottom: 3rem;
 margin-top: 1rem;
 padding-top: 1rem;
 padding-bottom: 4rem;
  }
 
  .main-two  h1 {
    font-family: Montaga;
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
    margin-left: 6rem;
    padding-bottom: 1rem;
    text-align: center;
 
 
  }
  .main-two   p{
    width: 20rem;
    font-family: Montaga;
    font-size: 1rem;
    font-weight: 400;
    color: #231f20;
    padding-right: 0.2% ;
    padding-left: 2%;
    bottom: 5%;
    text-align: center;
 
  }
  .main-three{
    width: 30rem;
  }
  footer{
    width: 30rem;
  }
  footer p{
    width: 30rem;
    font-family: Montaga;
  font-size: 1rem;
  font-weight: 400;
  justify-content: space-between;
  text-align: center;

margin-bottom: 2rem;

  }
  
  

}