* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.all{
        overflow: hidden;
}


.main-one {
  background-color: #f0ccbb;
  display: flex;
  justify-content: space-between;
  padding: 5% 5%;
}
.main-one-content {
  width: 100%;
}

.main-one h1 {
  /*width:46.8125rem;*/
  font-family: Montaga;
  font-size: 5rem;
  font-weight: 400;
}

.main-one p {
  /* width: 40.375rem;*/
  font-family: Montaga;
  font-size: 1.5rem;
  font-weight: 400;
}

.main-one-content #read {
  width: 12rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 200;
 background-color: #c6754d;
  border-radius: 16px;
  text-decoration: none;
  
}
.main-one-content a{
  padding: 1rem 0.5rem 3rem 0.9rem;
  text-align: center;
 
}

.main-one-img img {
  width: 100%;
        position: absoulte;
        
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c6754d;
}

.butt {
  display: flex;
  width: 19.6875rem;
  height: 2.9375rem;
}
#Home, #our{
  padding-top: 6%;
  text-decoration: none;
  text-transform: capitalize;
}
#Home, #our:hover{
  color: #c6754d;
}

.btn-1 {
  width: 140px;
  padding: 8px 40px 8px 40px;
}

.btn-2 {
  width: 175px;
  height: 47px;
  padding: 8px 40px 8px 40px;
}

.btn-2 p {
  width: 95px;
  font-family: Montaga;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.btn-1 p {
  width: 60px;
  font-family: Montaga;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.main-two {
  height: 16rem;
  display: flex;
  justify-content: space-between;
padding-top: 3rem;
padding-right: 4rem;

        
}

.main-two h1 {
  display: flex;
  width: 19.375rem;
  font-family: Montaga;
  font-size: 3.5rem;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
  padding-top: 10%;
}
.main-sto {
  /*width: 46rem;*/
  font-family: Montaga;
  font-size: 1.5rem;
  font-weight: 400;
  color: #231f20;
  flex-wrap: wrap;
}
.box-3 img {
  width: 100%;
}

footer p {
  font-family: Montaga;
  font-size: 1.375rem;
  font-weight: 400;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .all {
    display: flex;
    flex-direction: column;
    width: 30rem;
    flex-wrap: wrap;
  }
  .main-one {
          display: flex;
          flex-direction: column;
    width: 30rem;
        
          
    justify-content: center;
  }

  .main-one-content h1{
          width : 30rem;
    font-size: 2rem;
    font-weight: bolder;
text-align: left;
        

          
  }
        .main-one-content p{
                text-align: center;
  width: 28rem;
                
        }
        #read{
          width: 30rem;
          padding: 1rem;
        
                margin: auto ;
        }
       .main-one-img{
                width: 50%;
               margin: auto;
        }
        
        
  /*.main-two {
    width: 30rem;
        
  }

  .main-2-content {
    justify-content: center;
  }*/
  .main-two {
    width: 28rem;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
         padding: 0.5rem 1rem;
    margin: auto;
        
        }
        .main-two h1{
          margin: auto;
                text-align: center;

                padding: 1rem 0rem 0.5rem 0rem;
                
                
        }
  
        .main-sto{
                width: 100%;
                text-align: center;
                padding: 1rem;
                
                
 }
