* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.all{
  width: 90rem;
  height: 172.75rem;
  top: -14.4375rem;
  left: 87.25rem;
  background: #FFFFFF;
  overflow: hidden;

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c6754d;
}

.butt {
  display: flex;
  width: 19.6875rem;
  height: 2.9375rem;
}
#Home, #our{
  padding-top: 6%;
  text-decoration: none;
  text-transform: capitalize;
}
#Home, #our:hover{
  color: #c6754d;
}

.btn-1 {
  width: 140px;
  padding: 8px 40px 8px 40px;
}

.btn-2 {
  width: 175px;
  height: 47px;
  padding: 8px 40px 8px 40px;
}

.btn-2 p {
  width: 95px;
  font-family: Montaga;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.btn-1 p {
  width: 60px;
  font-family: Montaga;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

/*.navbar {
  width: 90rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c6754d;
}

.butt {
 
  display: flex;
  font-size: 2rem;
 
  font-weight: 400;
  width: 19.6875rem;
  height: 2.9375rem;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  position: relative;
 right: 15rem;
}


.btn-1 {
  width: 8.75rem;
  padding: 8px 40px 8px 40px;
  margin-right: 4rem;
  text-decoration: none;

}

.btn-2 {
  width: 8.75rem;
  padding: 8px 40px 8px 40px;

  text-decoration: none;

}
.butt #our a{
  margin: 1rem 4rem 1rem 4rem;
padding-bottom: 2rem;
}

.btn-2 p {
  font-family: Montaga;
  font-weight: 400;
  text-align: left;
  color: #000000;

}
.btn-1 p {
  font-family: Montaga;
  font-weight: 400;
  color: #000000;
  text-align: left;
}*/
.main-one {
  display: flex;
  width: 90rem;
  height: 50rem;
  background: #f0ccbb;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5.5rem 0px 5.5rem;
}
.main-one img {
  width: 40%;
}

.main-one-content {
  margin: 10rem 20rem 10rem 0rem;

  width: 20%;
  padding: 10rem 7rem 10rem 0rem;
}
.main-one .main-img-1 {
  width: 26.75rem;
  height: 36.5rem;
position: relative;
  left: 5.375rem;
  right: 5.375rem;
  border-radius: 50rem;
  border: 0.125rem;
  background: #d60b0b;
  border: 0.125rem solid #c6754d;
}
.main-one .main-img-2 {
  width: 15.125rem;
  height: 20.5625rem;
position: absolute;
top: 55%;
left:  -45%;
  border-radius: 50rem;
  border: 0.125rem;
  background: #d60b0b;
  border: 0.125rem solid #c6754d;
}
.my-img .main-img-2 {
  position: relative;
  bottom: -100px;
  right: -10px;
}

.main-one h1 {
  width: 40rem;
  font-family: Montaga;
  font-size: 4.5rem;
  font-weight: 400;
}
.my-img /*.main-img-2 .main-img-1*/ {
  display: flex;
  flex-direction: row;
  /* width: 45%;*/
  width: 31.9375rem;
  height: 38.6875rem;
  border-radius: 50rem;
  border: 0.125rem;
  margin: 6rem 6rem;
}

.main-one p {
  width: 36rem;
  font-family: Montaga;
  font-size: 20.6px;
  font-weight: 400;
  padding-top: 2rem 4rem;
}



.block {
  display: flex;
  flex-direction: row;
  width: 90rem;
  height: 18.5rem;
  padding: 64px 88px 64px 88px;
  gap: 64px;
}
.block-1 {
  width: 37.5rem;
  height: 10.375rem;
  gap: 32px;
}
.block-1 h1 {
  width: 37.5rem;
  height: 2.5rem;
  font-family: Montaga;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  padding-bottom: 2rem;
}

.block-1 p {
  width: 37.5rem;
  height: 5.875rem;
  gap: 0px;
  opacity: 80%;

  font-family: Montaga;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
}
.blok-1 span {
  font-family: Montaga;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}
.block-2 {
  width: 37.5rem;
  height: 10.375rem;
  gap: 32px;
}
.block-2 h1 {
  width: 37.5rem;
  height: 2.5rem;
  font-family: Montaga;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  padding-bottom: 2rem;
}

.block-2 p {
  width: 37.5rem;
  height: 5.875rem;
  gap: 0px;
  opacity: 80%;

  font-family: Montaga;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
}
.block-2 span {
  font-family: Montaga;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}
.block-1 span {
  font-family: Montaga;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}

.meet {
  width: 79rem;
padding-right: 5.5rem;
  padding-left: 5.5rem;
  height: 33rem;
  position:relative;
  left: 2.4rem;
bottom: 1rem;
top: 1rem;
}
.meet .text {
  width: 42.875rem;
  height: 15.9375rem;
  top: 8.53125rem;
  left: 36.125rem;
  padding: 2rem 4rem;
  gap: 2rem;
  background: #c6754d;
  margin: 3rem 8rem 0rem 8rem;
  position: absolute;
 left: 42%;
top: 20px;
  border-radius: 2rem;
}

.meet #meet {
  position: static;
  width: 44.875rem;
  height: 25rem;
  top: 4rem;
  border-radius: 2rem;
  background: #440404;
  margin-bottom: 1227px;

}
.vector{
  width: 162.47px;
  height: 183.26px;
  top: 198.59px;
  left: 1185.38px;
  rotate: 50.49 deg;
  position: absolute;
 top: 1rem;
left: 77rem;
color: #2B1105;


} 
.meet h1 {
  width: 34.875rem;
  height: 2.6875rem;
  font-family: Montaga;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
  color: #ffffff;
}
.meet p {
  width: 35rem;
  height: 7rem;
  opacity: 80%;
  font-family: Montaga;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
  color: #ffffff;
  padding-top: 2rem;
}
 


.vector-a{
  width: 18.8125rem;
height: 7rem;
top:5.5rem;
left: 16.0625rem;
color: #2B1105;
position: static;


}
.photos {
  width: 90rem;
  position: static;
  top: 20%;
  bottom: 40%;
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: 60.125rem;
  gap: 2rem;
  background: #97917a;
}

.tab {
  display: flex;
  flex-direction: column;
  width: 79rem;
  height: 45rem;
  top: 9.125rem;
  left: 5.5rem;
  gap: 2rem;
  margin: -1rem;
position: relative;
top: -7%;
left: 6rem;


}
.photos h6{
  width:2,416rem;
height: 1.125rem;
position: relative;
top: -3%;
bottom: 53%;
left: 39.5%;
right: 39.5%;
font-family: Montaga;
font-size: 1.125rem;
font-weight: 400;
margin-left: 5.125rem;
color: #FCF9F7;
}
.guys h1{
  width: 13.625rem;
height: 2.5rem;
font-family: Montaga;
font-size: 2.5rem;
font-weight: 400;
color: #FCF9F7;
position: absolute;
right: 32.71875rem;
left: 32.71875rem;

text-transform: capitalize;
}
.guys {
  display: flex;
  flex-direction: row;
  width: 79rem;
  height: 21rem;
  gap: 2rem;
  margin-top: 3rem ;
}
.guys img {
  width: 18.25rem;
  height: 17rem;
  gap: 1rem;
 position: relative;
  top: 24%;
}

.ladies h1{
  width: 13.625rem;
font-family: Montaga;
font-size: 2.5rem;
font-weight: 400;
color: #130903;
position: absolute;
right: 32.71875rem;
left: 32.71875rem;
text-transform: capitalize;
gap: 4rem;
margin-top: 1.25rem;

color: #FCF9F7;
}
.ladies {
  display: flex;
  flex-direction: row;
  width: 79rem;
  height: 21rem;
  gap: 2rem;

}
.ladies img {
  width: 18.25rem;
  height: 17rem;
  gap: 1rem;
  margin-top: 6rem ;
}





footer{
  width: 1,440px;
height: Hug 111px;
padding: 2.5rem 0px 0px 0px;
gap: 0.625rem;
background: #FCF9F7;
}

footer p{
  width: 11rem;
height: 1.9375rem;
font-family: Montaga;
font-size: 1rem;
font-weight: 400;
line-height: 1.925rem;
color: #000000;
position: relative;
right: 45%;
left: 47%;
bottom: 1rem;


}
footer span{
  font-family: Montaga;
font-size: 1rem;
font-weight: 400;
line-height: 1.925rem;
text-align: center;
padding: 2.5rem 39.375rem 2.5rem 39.375rem ;


}

@media screen and (max-width: 480px) {
  .navbar{
    width:30rem;
  }
  .navbar .brand-log {
    width: 5rem;
     font-size: 2rem;
  }
  .navbar .butt a{
      display: flex;
    flex-direction: row;
    font-size: 1rem;



  }
  .main-two{
    width: 30rem;
    display: flex;
    flex-direction: column;
 text-align: center;
 margin-bottom: 1rem;
 padding-top: 1rem;
 padding-bottom: 2rem;
  }
  .main-two  h1 {
  
    font-family: Montaga;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
    margin-left: 11rem;
    padding-top: 1rem;
   padding-top: 1rem;
    text-align: center;
   }
   .main-two  .main-sto p{
    width: 480px;
    font-family: Montaga;
    font-size: 1rem;
    font-weight: 400;
    
  
 
  }
  }

  /*@media 320
   @media screen and (max-width:320px) {
    .navbar .butt a{
      display: flex;
    flex-direction: row;
    font-size: 1rem;

}

 
  
.all {
    width: 480px;
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    font-size: 2rem;
  }
  .main-one {
    display: flex;
  flex-direction: row;
    width: 30rem;
    justify-content: center;
  }

  .main-one-content h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  .main-one-content p{
    font-size: 1rem;
    text-align: center;
  }
  .main-one-content #read {
  margin-left: 2.5rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    padding-top: 3% 3%;
    background-color: #c6754d;
    border-radius:1rem;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
  .main-two{
    width: 40rem;
    display: flex;
    flex-direction: column;
 text-align: center;
 margin-bottom: 3rem;
 margin-top: 1rem;
 padding-top: 1rem;
 padding-bottom: 4rem;
  }
 
  .main-two  h1 {
    font-family: Montaga;
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
    margin-left: 6rem;
    padding-bottom: 1rem;
    text-align: center;
 
 
  }
  .main-two   p{
    width: 20rem;
    font-family: Montaga;
    font-size: 1rem;
    font-weight: 400;
    color: #231f20;
    padding-right: 0.2% ;
    padding-left: 2%;
    bottom: 5%;
    text-align: center;
 
  }
  .main-three{
    width: 30rem;
  }
  footer{
    width: 30rem;
  }
  footer p{
    width: 30rem;
    font-family: Montaga;
  font-size: 1rem;
  font-weight: 400;
  justify-content: space-between;
  text-align: center;

margin-bottom: 2rem;

  }}






